In [1]:
#Importing libraries

In [2]:
import numpy as np
import pandas as pd

In [5]:
#occuping the usres dataset

users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=users_cols,encoding='latin-1')

In [6]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

# Ques 1.	How many of the users are artists? How many of the users are artists at least 25 years old?

In [70]:
#How many of the users are artists.......
# 1st method
print(len(users[(users['occupation']=='artist')]))

#2nd method
print(users.groupby('occupation').count().loc['artist']['user_id'])

28
28

In [43]:
#How many of the users are artists at least 25 years old...
# 1st method
print(len(users[(users['occupation']=='artist') & (users['age']>=25)]))

#2nd method
print(users[users['age']>=25].groupby('occupation').count().loc['artist']['user_id'])

22
22

# 2.	Movies are rated on a 1-5 scale. What is the average movie rating? What is the average rating given for movie id #1? For movie id #2? What are those movies?

In [51]:
#occuping the ratings dataset

rating_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=rating_cols,encoding='latin-1')

In [58]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [69]:
#ques 1: What is the average movie rating?

#mean
print('Mean :',np.mean(ratings['rating']))


#Note : I'll choose median because of float value of mean
print('Median(preferred) : ',np.median(ratings['rating']))

Mean : 3.52986
Median(preferred) :  4.0

In [71]:
# What is the average rating given for movie id #1

In [76]:
#again mean/median

print('mean:',np.mean(ratings[ratings['movie_id']==1]['rating']))

print('median:',np.median(ratings[ratings['movie_id']==1]['rating']))

mean: 3.8783185840707963
median: 4.0

In [77]:
#What is the average rating given for movie id #2

In [83]:
print('mean: ',np.mean(ratings[ratings['movie_id']==2]['rating']))

print('median: ',np.median(ratings[ratings['movie_id']==2]['rating']))

mean:  3.2061068702290076
median:  3.0

In [92]:
#what are those movies

#importing movies dataset
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(5),encoding='latin-1')

In [96]:
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [97]:
# Movie Name with id:1

movies[movies['movie_id']==1]['title'][0]

'Toy Story (1995)'

In [105]:
#Movie Name with id:2

movies[movies['movie_id']==2]['title'][1]

'GoldenEye (1995)'

# Ques  3.	What is the gender and zip code of the user who rated the most movies?

In [140]:
value =ratings.groupby('user_id',as_index=False).count().sort_values('rating',ascending=False)['user_id'][404]
most_rated = users[users['user_id']==value]

In [147]:
print('Gender : ',most_rated['sex'][404])

Gender :  F

In [149]:
print('Zip Code : ',most_rated['zip_code'][404])

Zip Code :  10019

# :- Assume that you are hired by a major Hollywood movie studio. Figure out an interesting use of the movielens dataset. What interesting stories using the data in movielens dataset you would like to tell a studio executive?

In [214]:
#                                                 Some Calculations

In [215]:
#Total users
len(users)

943

In [216]:
#Percentage of users under 25
print('Percentage of users under 25 : ',234/len(users)*100,'%')

Percentage of users under 25 :  24.814422057264053 %

In [217]:
#users with age under 25
users[users['age']<25].count()['user_id']

234

In [218]:
male_above_25 = users[(users['age']>25) & (users['sex']=='M')].count()['user_id']

male_above_25

474

In [219]:
total_above_25 = users[users['age']>25].count()['user_id']
total_above_25

671

In [220]:
print('Percentage of movie goers that are male : ',users.groupby('sex').count().loc['M','user_id']/len(users)*100,'%')

Percentage of movie goers that are male :  71.04984093319194 %

In [221]:
print('Percentage of users above 25 and are male : ',male_above_25/len(users)*100,'%')

Percentage of users above 25 and are male :  50.26511134676564 %

In [223]:
ratings.groupby('rating').count().loc[[4,5]].sum()['user_id']

55375

In [246]:
print('55.37% movie goers generally give the rating above 4\n17.48% movie goers give ratings below 3')

55.37% movie goers generally give the rating above 4
17.48% movie goers give ratings below 3

In [247]:
# So from above calculations, I concluded:

#1. Percentage of people above age 25 are more than 75%(according to this dataset).So, Companies should mainly focus on movie
#    goers above 25
    
#2. Percentage of movie goers that are male is 71%.So, Males are more likely to decide the success of the movie in comparison to
#   females
    
#3. Percenatge of movie goers that are male and above 25 is 50.26% i.e half the population that watches any movie .So,Its kind of
#    big deal.
    
#4. Generally 55% movie geors rate movies above 4 and only about 17% below 3 and 28% neutral.

# Thank You!!!!